body {
  font-family: Arial;
  background: #f2f2f2;
  background-color: rgb(183, 169, 48);
}

.login-box {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  text-align: center;
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background: #333;
  color: white;
  padding: 10px;
}

.sidebar button {
  width: 100%;
  margin: 5px 0;
}

.content {
  flex: 1;
  padding: 20px;
}

.note {
  background: #7d4d4d;
  padding: 10px;
  margin-top: 10px;
}
.note {
  background: #ddd;
  padding: 10px;
  margin-top: 10px;
  position: relative;
  border-radius: 5px;
}

.delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 3px 6px;
}
#noteInput{
  padding: 0%;
  margin: 0%;
    height: 30%;
    width: 40%;
    background-color: #333;
    color: #ddd;
}
.login-box{
  color: red;
  background-color: rgb(119, 90, 90);
  border-radius: 50px;
  height: 50%;
}
.content{
  background-color: rgb(224, 166, 31);


}
#folderTitle{
  
  font-size: 50px;
}
button{
border-radius: 40%;
font-size: 100%;
background-color: blanchedalmond;
}